{% extends 'main/base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2">
            {{ render(controller('\\App\\Controller\\EmbedController::showCategories')) }}
        </div>
        <div class="col-10">
            <h1 class="mb-3">{{ category.name }} news</h1>
            {% if posts|length %}
                {% for post in posts %}
                    <div class="border-bottom border-secondary row mb-2 p-3">
                        <div class="col-md-1 d-flex justify-content-center align-items-center">{{ post.createdAt | date('H:i') }}</div>
                        <div class="col-md-11">
                            <a class="nav-link text-dark"
                               href="{{ path('main_news_item', {'id': post.id}) }}">{{ post.title }}</a>
                        </div>
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-center">
                    {{ knp_pagination_render(posts) }}
                </div>
            {% else %}
                <h3>No news for now</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}