{% extends 'main/base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <h1 class="mb-3">List</h1>
    <a class="btn btn-primary mb-2" href="{{ path('main_post_add') }}">Add new Post</a>
    {% for post in posts %}
        <div class="border-bottom border-danger row mb-2 p-3">
            <div class="col-md-1 d-flex justify-content-center align-items-center">{{ post.createdAt | date('H:i') }}</div>
            <div class="col-md-11">
                <h4>{{ post.title }}</h4>
                <a class="btn btn-secondary " href="{{ path('main_post_edit', {'id': post.id}) }}">Edit post</a>
                <a class="btn btn-danger " href="{{ path('main_post_delete', {'id': post.id}) }}">Delete post</a>
            </div>
        </div>
    {% endfor %}
    <a class="btn btn-primary mt-2" href="{{ path('main_post_add') }}">Add new Post</a>
{% endblock %}
